<!DOCTYPE html>
<html>
<head>
    <title>ChapinChat</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/config.css' %}">

 
   
</head>
<body bgcolor="#48C9B0">
    <table>
        <thead>
            <tr>
                <!-- Barra de título de la tabla -->
                <th>Laboratorio IPC2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <!-- Celdas dentro de una tabla -->
                <td>Fernando Misael Morales Ortiz</td>
                <td>202001950</td>
            </tr>
        </tbody>
    </table>
   
</body>
</html>