<!DOCTYPE html>
<html>
<head>
    <title>ChapinChat</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/config.css' %}">
   
</head>
<body>
    <div>    
        <h2>Carcar archivo {{titulo}}</h2>
        <form method="POST" enctype="multipart/form-data">
            
            {% csrf_token %}
            <input type="file" name="file"/>
            <button type="submit"> Elije un archivo de entrada</button>
            
        </form>
        {% if respuesta %}
        <h3>{{respuesta}} </h3>
        {% endif %}
    </div>
    <div>
        <br>
        <label for="letras">Nuevo Perfil:</label>
        <textarea id="letras" name="letras"></textarea>
        <br>
        <label for="letras">Nuevo Mensaje:</label>
        <textarea id="letras" name="letras"></textarea>
        <br>
        <input type="submit" value="Guardar">
        <button type="submit">Resultado</button>
    </div>


   
</body>
</html>