<!DOCTYPE html>
<html>
<head>
    <title>ChapinChat</title>
 
   
</head>
<body>
    <div>    
        <h2>Carcar archivo {{titulo}}</h2>
        <form method="POST" enctype="multipart/form-data">
            
            {% csrf_token %}
            <input type="file" name="file"/>
            <button type="submit"> carga archivo</button>
            
        </form>
        {% if respuesta %}
        <h3>{{respuesta}} </h3>
        {% endif %}
    </div>
     <h1>Ingrese el mensaje </h1>
     <form action="POST"></form>
   
</body>
</html>